.workout-thumbnail {
  width: 6rem;
  height: auto;
  border-radius: 0.25rem;
}

.workout-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
