

<h4>My Appointments</h4>

<div *ngFor="let appointment of appointments">
    <p class="flex items-center">
        {{appointment.startTime | date: 'dd.MM.yyyy HH:mm'}}
        <p-button size="small" (click)="openUpdateDialog(appointment)"
                  type="button" class="mx-3" iconPos="right" icon="pi pi-pencil" label="" />
    </p>
    <p class="flex items-center space-x-3">
        <img width="30" [src]="'assets/icons/' + appointment.appointmentType.description + '.png'" alt="">
        <span class="mx-3">{{appointment.appointmentType.name}}</span>
    </p>
</div>

<p-divider />

<h4>My Measurements</h4>
