<div class="my-3 flex flex-wrap items-center justify-between gap-2">
    <p-button (click)="openCreateDialog()" *ngIf="userCanCreateRecurringAppointment"
              type="button" iconPos="right" icon="pi pi-plus" [label]="'recurringAppointments.new' | translate" />
    <p-selectbutton class="ml-auto" [options]="viewOptions" optionLabel="label" optionValue="value"
                    [allowEmpty]="false" [(ngModel)]="view">
        <ng-template #item let-option>{{ option.label | translate }}</ng-template>
    </p-selectbutton>
</div>

<div *ngIf="view === 'calendar'" class="recurring-calendar">
    <div *ngFor="let day of calendarDays" class="recurring-calendar-day">
        <div class="recurring-calendar-day-header">
            <span>{{ day.key | translate }}</span>
            <span class="recurring-calendar-count" *ngIf="day.appointments.length">{{ day.appointments.length }}</span>
        </div>
        <div class="recurring-calendar-day-body">
            <div *ngFor="let appointment of day.appointments" class="recurring-calendar-entry"
                 [class.clickable]="userCanCreateRecurringAppointment"
                 (click)="userCanCreateRecurringAppointment && openUpdateDialog(appointment)">
                <div class="recurring-calendar-time">
                    <i class="pi pi-clock"></i>
                    {{ formatTime(appointment.timeSlot.startTime) }} – {{ formatTime(appointment.timeSlot.endTime) }}
                </div>
                <div class="recurring-calendar-clients">{{ clientNames(appointment) }}</div>
                <div class="recurring-calendar-meta">
                    <span *ngIf="showCoach && appointment.coach"><i class="pi pi-user"></i> {{ appointment.coach.firstName }} {{ appointment.coach.lastName }}</span>
                    <span *ngIf="appointment.type">{{ appointment.type.name }}</span>
                </div>
            </div>
            <div *ngIf="!day.appointments.length" class="recurring-calendar-empty">
                {{ "recurringAppointments.noneThisDay" | translate }}
            </div>
        </div>
    </div>
</div>

<p-table *ngIf="view === 'table'"
    #recurringAppointmentsTable
    [value]="recurringAppointments"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['startTime', 'endTime']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    [currentPageReportTemplate]="'common.entriesTemplate' | translate"
>
    <ng-template #header>
        <tr>
            <th pSortableColumn="name" style="min-width: 12rem">
                {{ "appointmentsList.time" | translate }}
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="clients" style="min-width: 12rem">
                {{ "common.clients" | translate }}
                <p-sortIcon field="clients" />
            </th>
            <th pSortableColumn="type.name" style="min-width: 12rem">
                {{ "common.type" | translate }}
                <p-sortIcon field="type.name" />
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    {{ "common.status" | translate }}
                    <p-sortIcon field="status" />
                </div>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-recurringAppointment>
        <tr>
            <td>
                {{ recurringAppointment.timeSlot.name }}
            </td>
            <td>
                <span *ngFor="let client of recurringAppointment.clients">
                    {{ client.firstName + ' ' + client.lastName }} <br>
                </span>
            </td>
            <td>
                {{ recurringAppointment.type.name }}
            </td>
            <td>
                {{ recurringAppointment.status ? ('common.active' | translate) : ('common.inactive' | translate) }}
            </td>
            <td class="flex">
                <p-button (click)="changeActivity(recurringAppointment)"
                          [icon]=" recurringAppointment.status ? 'pi pi-eye' : 'pi pi-eye-slash'"
                          severity="primary"
                          [outlined]="true" />
                <p-button *ngIf="userCanCreateRecurringAppointment"
                          class="ml-2" (click)="openUpdateDialog(recurringAppointment)"
                          icon="pi pi-pencil"
                          severity="primary"
                          [outlined]="true" />
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">{{ "recurringAppointments.noneFound" | translate }}</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">{{ "recurringAppointments.loading" | translate }}</td>
        </tr>
    </ng-template>
</p-table>