<form [formGroup]="form" (submit)="submit()">
    <div class="formgrid grid">
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="startTime">Start Time</label>
            <p-date-picker [style]="{'width': '100%'}"
                           [hourFormat]="'24'"
                           [showButtonBar]="true"
                           [showTime]="true"
                           dateFormat="dd.mm.yy."
                           appendTo="body" id="startTime" formControlName="startTime" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'startTime', 'required')"
                   id="startTime-input">This field is required.</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="endTime">End Time</label>
            <p-date-picker [style]="{'width': '100%'}"
                           [showTime]="true"
                           [hourFormat]="'24'"
                           [showButtonBar]="true"
                           dateFormat="dd.mm.yy."
                           appendTo="body"
                           id="endTime"
                           formControlName="endTime" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'endTime', 'required')"
                   id="endTime-input">This field is required.</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="clients">Clients</label>
            <p-multi-select [filter]="true" [options]="clients"
                            appendTo="body" styleClass="w-full"
                            formControlName="clients" optionLabel="fullName" optionValue="id"
                            id="clients" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'clients', 'required')"
                   id="clients-input">This field is required.</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="clients">Coaches</label>
            <p-multi-select [filter]="true" [options]="coaches"
                            appendTo="body" styleClass="w-full"
                            formControlName="coaches" optionLabel="fullName" optionValue="id"
                            id="coaches" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'coaches', 'required')"
                   id="coaches-input">This field is required.</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="type">Type</label>
            <p-select [filter]="true" [options]="appointmentTypes"
                      appendTo="body" styleClass="w-full"
                      formControlName="type" optionLabel="name" optionValue="id"
                      id="type" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'type', 'required')"
                   id="appointmentType-input">This field is required.</small>
        </div>
    </div>

    <div class="my-3">
        <p-button type="submit" iconPos="right" icon="pi pi-save" label="Save" />
    </div>
</form>
