<div class="my-3">
    <p-button (click)="openCreateDialog()" *ngIf="userCanCreateAppointment"
              type="button" iconPos="right" icon="pi pi-plus" label="New Appointment" />
</div>

<p-table
    #appointmentsTable
    [value]="appointments"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['startTime', 'endTime']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    currentPageReportTemplate="There are {totalRecords} entries"
>
    <ng-template #header>
        <tr>
            <th pSortableColumn="startTime" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Start Time
                    <p-sortIcon field="startTime" />
                    <p-columnFilter type="text" field="startTime" display="menu" class="ml-auto"></p-columnFilter>
                </div>
            </th>
            <th pSortableColumn="endTime" style="min-width: 12rem">
                End Time
                <p-sortIcon field="endTime" />
            </th>
            <th pSortableColumn="clients" style="min-width: 12rem">
                Clients
                <p-sortIcon field="clients" />
                <p-columnFilter type="text" field="clients" display="menu" class="ml-auto"></p-columnFilter>
            </th>
            <th pSortableColumn="type.name" style="min-width: 12rem">
                Type
                <p-sortIcon field="type.name" />
                <p-columnFilter type="text" field="type.name" display="menu" class="ml-auto"></p-columnFilter>
            </th>
            <th pSortableColumn="status.name" style="min-width: 12rem">
                Status
                <p-sortIcon field="status.name" />
                <p-columnFilter type="text" field="status.name" display="menu" class="ml-auto"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-appointment>
        <tr>
            <td>
                {{ appointment.startTime | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td>
                {{ appointment.endTime | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td style="font-size: 0.85rem">
                <span *ngFor="let client of appointment.clients">
                    <p>
                        <span>{{ client.firstName }} {{ client.lastName }}</span>
                    </p>
                </span>
            </td>
            <td>
                {{ appointment.type.name }}
            </td>
            <td>
                {{ appointment.status.name }}
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No appointments found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading appointments data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>