<div class="my-3">
    <p-button (click)="openCreateDialog()"
              type="button" iconPos="right" icon="pi pi-plus" label="New Appointment" />
</div>

<p-table
    #appointmentsTable
    [value]="appointments"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['startTime', 'endTime']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    currentPageReportTemplate="There are {totalRecords} entries"
>
    <ng-template #header>
        <tr>
            <th pSortableColumn="startTime" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Start Time
                    <p-sortIcon field="startTime"/>
                    <p-columnFilter type="text" field="startTime" display="menu" class="ml-auto"/>
                </div>
            </th>
            <th pSortableColumn="endTime" style="min-width: 12rem">
                End Time
                <p-sortIcon field="endTime"/>
            </th>
            <th pSortableColumn="type.Name" style="min-width: 12rem">
                Type
                <p-sortIcon field="type.Name"/>
            </th>
            <th pSortableColumn="status.Name" style="min-width: 12rem">
                Status
                <p-sortIcon field="status.Name"/>
            </th>
            <th pSortableColumn="clients" style="min-width: 12rem">
                Clients
                <p-sortIcon field="clients"/>
            </th>
            <th style="width: 11rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-appointment>
        <tr>
            <td>
                {{ appointment.startTime | date : 'dd.MM.yyyy. HH:mm:ss'}}
            </td>
            <td>
                {{ appointment.endTime | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td>
                {{ appointment.type.name }}
            </td>
            <td>
                {{ appointment.status.name }}
            </td>
            <td>
                <span *ngFor="let client of appointment.clients">
                    {{client.firstName}} {{client.lastName}}
                </span>
            </td>
            <td class="flex">
                <p-button (click)="openInfoDialog(appointment)" class="mr-2" icon="pi pi-info" severity="secondary"
                          [outlined]="true"/>
                <p-button (click)="openUpdateDialog(appointment)" class="mr-2" icon="pi pi-pencil"
                          severity="secondary"
                          [outlined]="true"/>
                <p-button (click)="confirmDelete(appointment)" icon="pi pi-trash" severity="danger"
                          [outlined]="true"/>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No appointments found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading appointments data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>

