<div class="my-3">
    <p-button (click)="openCreateDialog()" *ngIf="isAdmin"
              type="button" iconPos="right" icon="pi pi-plus" label="New Appointment"/>
</div>

<p-table
    #appointmentsTable
    [value]="appointments"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['startTime', 'endTime']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    currentPageReportTemplate="There are {totalRecords} entries"
>
    <ng-template #header>
        <tr>
            <th *ngIf="isAdmin"></th>
            <th pSortableColumn="startTime" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Start Time
                    <p-sortIcon field="startTime"/>
                    <p-columnFilter type="text" field="startTime" display="menu" class="ml-auto"/>
                </div>
            </th>
            <th pSortableColumn="endTime" style="min-width: 12rem">
                End Time
                <p-sortIcon field="endTime"/>
            </th>
            <th pSortableColumn="type.Name" style="min-width: 12rem">
                Type
                <p-sortIcon field="type.Name"/>
            </th>
            <th pSortableColumn="status.Name" style="min-width: 12rem">
                Status
                <p-sortIcon field="status.Name"/>
            </th>
            <th pSortableColumn="clients" style="min-width: 12rem">
                Clients
                <p-sortIcon field="clients"/>
            </th>
            <th *ngIf="isAdmin"></th>
        </tr>
    </ng-template>
    <ng-template #body let-appointment>
        <tr>
            <td class="flex">
                <p-button *ngIf="isAdmin && appointment.status.name != businessStatuses.Approved"
                          (click)="approve(appointment)" class="mr-2" icon="pi pi-check" severity="success"
                          [outlined]="true"/>
                <p-button *ngIf="isAdmin && appointment.status.name != businessStatuses.Approved"
                          (click)="decline(appointment)" class="mr-2" icon="pi pi-times" severity="danger"
                          [outlined]="true"/>
                <p [ngClass]="appointment.status.name == businessStatuses.Approved ? 'text-green-400' : 'text-red-500'"
                   *ngIf="appointment.status.name == businessStatuses.Approved">
                    {{ appointment.updatedAt | date : 'dd.MM.yyyy. HH:mm:ss' }}
                </p>
            </td>
            <td>
                {{ appointment.startTime | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td>
                {{ appointment.endTime | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td>
                {{ appointment.type.name }}
            </td>
            <td>
                {{ appointment.status.name }}
            </td>
            <td style="font-size: 0.85rem">
                <span *ngFor="let client of appointment.clients">
                    <p>
                        <span>{{ client.firstName }} {{ client.lastName }}</span>
                    </p>
                </span>
            </td>
            <td class="flex" *ngIf="isAdmin">
                <p-button
                        *ngIf="appointment.status.name != businessStatuses.Approved"
                        (click)="openInfoDialog(appointment)" class="mr-2" icon="pi pi-info-circle"
                        severity="secondary"
                        [outlined]="true"/>
                <p-button
                        *ngIf="appointment.status.name != businessStatuses.Approved"
                        (click)="openUpdateDialog(appointment)" class="mr-2" icon="pi pi-pencil"
                        severity="secondary"
                        [outlined]="true"/>
                <p-button *ngIf="appointment.status.name == businessStatuses.Approved"
                          (click)="openInfoDialog(appointment)" class="mr-2" icon="pi pi-info-circle"
                          severity="secondary"
                          [outlined]="true"/>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No appointments found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading appointments data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>

