<form [formGroup]="form" (submit)="submit()">
    <div>
        <label for="newPassword"
               class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">{{ "resetPassword.newPassword" | translate }}</label>
        <p-password id="newPassword" formControlName="newPassword" [toggleMask]="true"
                    styleClass="mb-4"
                    [fluid]="true" [feedback]="false"></p-password>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'newPassword', 'required')"
               id="newPassword-input">{{ "common.required" | translate }}</small>

        <label for="confirmPassword"
               class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">{{ "resetPassword.confirmPassword" | translate }}</label>
        <p-password id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true"
                    styleClass="mb-4"
                    [fluid]="true" [feedback]="false"></p-password>
        <small class="p-error"
               *ngIf="validationService.hasErrors(form, 'confirmPassword', 'required')"
               id="confirmPassword-input">{{ "common.required" | translate }}</small>
        <small class="p-error"
               *ngIf="this.form.hasError('passwordMismatchValidator')"
               id="mismatch-input">{{ "common.passwordMismatch" | translate }}</small>
        <p-button type="submit" [label]="'resetPassword.submit' | translate" styleClass="w-full"></p-button>
    </div>
</form>