<p-table
    #appointmentRequestsTable
    [value]="appointmentRequests"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['Comment', 'Type.Name']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    [currentPageReportTemplate]="'common.entriesTemplate' | translate"
>
    <ng-template #header>
        <tr>
            <th></th>
            <th pSortableColumn="status.name" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    {{ "appointmentRequests.requestStatus" | translate }}
                    <p-sortIcon field="status.name"/>
                    <p-columnFilter type="text" field="status.name" display="menu" class="ml-auto"/>
                </div>
            </th>
            <th pSortableColumn="type.name" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    {{ "appointmentRequests.requestType" | translate }}
                    <p-sortIcon field="type.name"/>
                    <p-columnFilter type="text" field="type.name" display="menu" class="ml-auto"/>
                </div>
            </th>
            <th pSortableColumn="comment" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    {{ "appointmentRequests.comment" | translate }}
                    <p-sortIcon field="comment"/>
                    <p-columnFilter type="text" field="comment" display="menu" class="ml-auto"/>
                </div>
            </th>
            <th>{{ "appointmentRequests.relatedAppointment" | translate }}</th>
            <th>{{ "appointmentRequests.requestInfo" | translate }}</th>
        </tr>
    </ng-template>
    <ng-template #body let-appointmentRequest>
        <tr>
            <td>
                <p-button
                        *ngIf="areActionsEnabled(appointmentRequest)"
                        (click)="approve(appointmentRequest)" class="mr-2" icon="pi pi-check" severity="success"
                        [outlined]="true"/>
                <p-button
                        *ngIf="areActionsEnabled(appointmentRequest)"
                        (click)="decline(appointmentRequest)" class="mr-2" icon="pi pi-times"
                        severity="danger"
                        [outlined]="true"/>
                <p *ngIf="isStatusTextVisible(appointmentRequest)"
                   [ngClass]="getTextColor(appointmentRequest)">
                    {{ appointmentRequest.updatedAt | date : 'dd.MM.yyyy. HH:mm:ss' }}
                </p>
            </td>
            <td>
                {{ appointmentRequest.status.name }}
            </td>
            <td>
                {{ appointmentRequest.type.name }}
            </td>
            <td>
                {{ appointmentRequest.comment }}
            </td>
            <td class="flex">
                <p-button (click)="openAppointmentInfo(appointmentRequest.appointment)" class="mr-2"
                          icon="pi pi-info-circle"
                          severity="secondary"
                          [label]="'appointmentRequests.appointment' | translate"
                          [outlined]="true"/>
            </td>
            <td>
                <p-button (click)="openInfoDialog(appointmentRequest)" class="mr-2" icon="pi pi-info-circle"
                          severity="secondary"
                          [label]="'appointmentRequests.request' | translate"
                          [outlined]="true"/>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">{{ "appointmentRequests.noneFound" | translate }}</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">{{ "appointmentRequests.loading" | translate }}</td>
        </tr>
    </ng-template>
</p-table>