<div class="my-3">
    <p-button (click)="openCreateDialog()"
              type="button" iconPos="right" icon="pi pi-plus" [label]="'appointmentTypes.new' | translate"/>
</div>

<p-table
    #appointmentTypesTable
    [value]="appointmentTypes"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['firstName', 'lastName']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    [currentPageReportTemplate]="'common.entriesTemplate' | translate"
>
    <ng-template #header>
        <tr>
            <th pSortableColumn="name" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    {{ "common.name" | translate }}
                    <p-sortIcon field="name"/>
                    <p-columnFilter type="text" field="name" display="menu" class="ml-auto"/>
                </div>
            </th>
            <th style="width: 11rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-appointmentType>
        <tr>
            <td>
                {{ appointmentType.name }}
            </td>
            <td class="flex">
                <p-button (click)="openUpdateDialog(appointmentType)" class="mr-2" icon="pi pi-pencil"
                          severity="secondary"
                          [outlined]="true"/>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">{{ "appointmentTypes.noneFound" | translate }}</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">{{ "appointmentTypes.loading" | translate }}</td>
        </tr>
    </ng-template>
</p-table>
