<form [formGroup]="form" (submit)="submit()">
    <div class="formgrid grid">
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="firstName">{{ "common.firstName" | translate }}</label>
            <input
                class="w-full {{validationService.getInputClass(form, 'firstName', 'required')}}"
                type="text" id="firstName" pInputText formControlName="firstName"/>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'firstName', 'required')"
                   id="firstName-input">{{ "common.required" | translate }}</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="lastName">{{ "common.lastName" | translate }}</label>
            <input type="text" class="w-full {{validationService.getInputClass(form, 'lastName', 'required')}}"
                   id="lastName"
                   pInputText formControlName="lastName"/>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'lastName', 'required')"
                   id="lastName-input">{{ "common.required" | translate }}</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="lastName">{{ "common.email" | translate }}</label>
            <input type="text" class="w-full {{validationService.getInputClass(form, 'email', 'required')}}"
                   id="email"
                   pInputText formControlName="email"/>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'email', 'required')"
                   id="email-input">{{ "common.required" | translate }}</small>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'email', 'email')"
                   id="email-input-email-validation">{{ "common.emailInvalid" | translate }}</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="phone">{{ "common.phoneNumber" | translate }}</label>
            <input type="text" class="w-full {{validationService.getInputClass(form, 'phone', 'required')}}"
                   id="phone"
                   pInputText formControlName="phone"/>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'phone', 'required')"
                   id="phone-input">{{ "common.required" | translate }}</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="credits">{{ "clients.credits" | translate }}</label>
            <input type="number" class="w-full {{validationService.getInputClass(form, 'credits', 'required')}}"
                   id="credits"
                   pInputText formControlName="credits"/>
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'credits', 'required')"
                   id="credits-input">{{ "common.required" | translate }}</small>
        </div>
        <div *ngIf="userRole != userRoles.Coach" class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="coaches">{{ "common.coaches" | translate }}</label>
            <p-multi-select [filter]="true" [options]="coaches"
                            appendTo="body" styleClass="w-full"
                            formControlName="coaches" optionLabel="fullName" optionValue="id"
                            id="coaches" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'coaches', 'required')"
                   id="coaches-input">{{ "common.required" | translate }}</small>
        </div>
    </div>

    <div class="my-3">
        <p-button
  type="submit"
  [disabled]="loadingData"
  [icon]="loadingData ? 'pi pi-spin pi-spinner' : 'pi pi-save'"
  [label]="loadingData ? ('common.saving' | translate) : ('common.save' | translate)">
</p-button>
    </div>
</form>
