<div class="my-3">
    <p-button (click)="openCreateDialog()" *ngIf="userCanCreateRecurringAppointment"
              type="button" iconPos="right" icon="pi pi-plus" label="New Recurring Appointment" />
</div>

<p-table
    #recurringAppointmentsTable
    [value]="recurringAppointments"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['startTime', 'endTime']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    currentPageReportTemplate="There are {totalRecords} entries"
>
    <ng-template #header>
        <tr>
            <th pSortableColumn="name" style="min-width: 12rem">
                Time
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="client" style="min-width: 12rem">
                Client
                <p-sortIcon field="client" />
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-recurringAppointment>
        <tr>
            <td>
                {{ recurringAppointment.timeSlot.name }}
            </td>
            <td>
                <span>{{ recurringAppointment.client.firstName }} {{ recurringAppointment.client.lastName }}</span>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No recurring appointments found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading recurring appointments data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>