<div class="my-3">
    <p-button (click)="openCreateDialog()" *ngIf="userCanCreateRecurringAppointment"
              type="button" iconPos="right" icon="pi pi-plus" label="New Recurring Appointment" />
</div>

<p-table
    #recurringAppointmentsTable
    [value]="recurringAppointments"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['startTime', 'endTime']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    currentPageReportTemplate="There are {totalRecords} entries"
>
    <ng-template #header>
        <tr>
            <th pSortableColumn="name" style="min-width: 12rem">
                Time
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="client" style="min-width: 12rem">
                Client
                <p-sortIcon field="client" />
            </th>
            <th pSortableColumn="type.name" style="min-width: 12rem">
                Type
                <p-sortIcon field="type.name" />
            </th>
            <th pSortableColumn="status" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Status
                    <p-sortIcon field="status" />
                </div>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-recurringAppointment>
        <tr>
            <td>
                {{ recurringAppointment.timeSlot.name }}
            </td>
            <td>
                <span *ngFor="let client of recurringAppointment.clients">
                    {{ client.firstName + ' ' + client.lastName }} <br>
                </span>
            </td>
            <td>
                {{ recurringAppointment.type.name }}
            </td>
            <td>
                {{ recurringAppointment.status ? 'Active' : 'InActive' }}
            </td>
            <td class="flex">
                <p-button (click)="changeActivity(recurringAppointment)"
                          [icon]=" recurringAppointment.status ? 'pi pi-eye' : 'pi pi-eye-slash'"
                          severity="primary"
                          [outlined]="true" />
                <p-button *ngIf="userCanCreateRecurringAppointment"
                          class="ml-2" (click)="openUpdateDialog(recurringAppointment)"
                          icon="pi pi-pencil"
                          severity="primary"
                          [outlined]="true" />
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No recurring appointments found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading recurring appointments data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>