<div class="my-3">
    <p-button (click)="openCreateDialog()" *ngIf="userCanCreateRecurringAppointment"
              type="button" iconPos="right" icon="pi pi-plus" label="New Recurring Appointment" />
</div>

<p-table
    [value]="recurringAppointments"
    showGridlines
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>Client</th>
            <th>Coach</th>
            <th>Day</th>
            <th>Time Slot</th>
        </tr>
    </ng-template>
    <ng-template #body let-recurringAppointment>
        <tr>
            <td>{{ recurringAppointment.client.firstName + ' ' + recurringAppointment.client.lastName }}</td>
            <td>{{ recurringAppointment.coach.firstName + ' ' +  recurringAppointment.coach.lastName }}</td>
            <td>{{ recurringAppointment.timeSlot.day }}</td>
            <td>{{ recurringAppointment.timeSlot.startTime }} - {{ recurringAppointment.timeSlot.endTime }}</td>
        </tr>
    </ng-template>
</p-table>

