<div class="row mb-3" *ngIf="userRole == userRoles.Client">
    <p-card [style]="{ 'background-color': loggedUserCredits > 0 ? '#d4eddaa8' : '#f8d7dacc' }"
            [header]="'dashboard.creditsStatus' | translate">
        <p class="m-0">
            @if (loggedUserCredits > 0) {
                <span>{{ "dashboard.youHave" | translate }} {{ loggedUserCredits }} {{ "dashboard.appointmentsLeftSuffix" | translate }}</span>
            } @else {
                <span>{{ "dashboard.noAppointmentsLeft" | translate }}</span>
            }
        </p>
    </p-card>
</div>

<div class="my-3" *ngIf="userRole == userRoles.Coach">
    <p-button (click)="generateRecurringAppointments()"
              type="button" iconPos="right" icon="pi pi-sync" [label]="'dashboard.generateSchedule' | translate" />
</div>

<div class="my-3">
    <p-button (click)="openCreateDialog()"
              type="button" iconPos="right" icon="pi pi-plus" [label]="'dashboard.newAppointment' | translate" />
</div>

<app-appointments-calendar [appointments]="approvedAppointments" [userRole]="userRole"></app-appointments-calendar>

<hr>

<div>
    <h4>{{ "menu.appointmentRequests" | translate }}</h4>
    <app-appointments-requests-list [appointmentRequests]="appointmentRequests"></app-appointments-requests-list>
</div>

