<h4>Next Appointments</h4>

<app-appointments-list [userRole]="userRole" [appointments]="approvedAppointments"
                       type="Approved"></app-appointments-list>
<app-appointments-list [userRole]="userRole" [appointments]="pendingAppointments"
                       type="Pending"></app-appointments-list>
<app-appointments-list [userRole]="userRole" [appointments]="inProgressAppointments"
                       type="In Progress"></app-appointments-list>

<hr>

<div *ngIf="showAppointmentRequests">
    <h4>Appointment Requests</h4>
    <app-appointments-requests-list [appointmentRequests]="appointmentRequests"></app-appointments-requests-list>
</div>

