<div class="py-3">
    <h5 class="mb-3">{{ type }}</h5>

    <p-table [value]="appointments" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Time</th>
                <th *ngIf="userRole != userRoles.Client">Client</th>
                <th *ngIf="userRole != userRoles.Coach">Coach</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-appointment>
            <tr [ngStyle]="isAppointmentCompleted(appointment) ? {'background': '#0034c42b'} : {}">
                <td>{{ appointment.startTime | date: 'dd.MM.yyyy' }} ({{ appointment.getWeekDay() }}) <br>
                    <span class="py-3">{{ appointment.timeSlot.description }}</span>
                </td>
                <td *ngIf="userRole != userRoles.Client">
                    <span *ngFor="let client of appointment.clients">
                        <p>
                            <span>{{ client.firstName }} {{ client.lastName }}</span>
                        </p>
                    </span>
                </td>
                <td *ngIf="userRole != userRoles.Coach">
                    <span *ngFor="let coach of appointment.coaches">
                        <p>
                            <span>{{ coach.firstName }} {{ coach.lastName }}</span>
                        </p>
                    </span>
                </td>
                <td>
                    <p-button *ngIf="isAppointmentCompleted(appointment)"
                              label="Completed"
                              variant="text"
                              icon="pi pi-check"
                              disabled />
                    <button
                        *ngIf="isAppointmentActive(appointment)"
                        class="p-button-outlined p-button-danger"
                        pButton type="button" icon="pi pi-times"
                        label="Cancel"
                        (click)="cancel(appointment)">
                    </button>
                    <button
                        *ngIf="showApproveActionButtons(appointment)"
                        class="p-button-outlined p-button-success mr-2"
                        pButton type="button" icon="pi pi-check"
                        label="Approve"
                        (click)="approve(appointment)">
                    </button>
                    <button
                        *ngIf="showPendingActionButtons(appointment)"
                        class="p-button-outlined p-button-danger"
                        pButton type="button" icon="pi pi-times"
                        label="Decline"
                        (click)="decline(appointment)">
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="8">There are no {{ type }} appointments.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="8">Loading appointments data. Please wait...</td>
            </tr>
        </ng-template>
    </p-table>
</div>