.profile-picture {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--surface-border);
}

.profile-picture-placeholder {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--surface-ground);
  border: 1px solid var(--surface-border);

  i {
    font-size: 3rem;
    color: var(--text-color-secondary);
  }
}
