<form [formGroup]="form" (submit)="submit()">
    <div class="formgrid grid">
        <div *ngIf="userRole != userRoles.Coach" class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="coach">Coaches</label>
            <p-select
                (onChange)="getTimeSlots()"
                [options]="coaches"
                appendTo="body"
                styleClass="w-full"
                formControlName="coach" optionLabel="fullName" optionValue="id"
                id="coach" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'coach', 'required')"
                   id="coach-input">This field is required.</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6" *ngIf="type == actionTypes.Create">
            <label for="timeSlot">Time Slot</label>
            <p-select
                appendTo="body"
                id="timeSlot" styleClass="w-full" [options]="timeSlots"
                formControlName="timeSlot"
                optionLabel="name" optionValue="id" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'timeSlot', 'required')"
                   id="startTime-input">This field is required.</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="appointmentType">Type</label>
            <p-select
                appendTo="body"
                id="appointmentType" styleClass="w-full" [options]="appointmentTypes"
                formControlName="type"
                optionLabel="name" optionValue="id" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'appointmentType', 'required')"
                   id="appointmentType-input">This field is required.</small>
        </div>
        <div class="field col-12 xl:col-6 lg:col-6 md:col-6">
            <label for="clients">Clients</label>
            <p-multi-select [options]="clients"
                      appendTo="body" styleClass="w-full"
                      formControlName="clients" optionLabel="fullName" optionValue="id"
                      id="clients" />
            <small class="p-error"
                   *ngIf="validationService.hasErrors(form, 'clients', 'required')"
                   id="clients-input">This field is required.</small>
        </div>
    </div>
    <div class="my-3">
        <p-button type="submit" iconPos="right" icon="pi pi-save" label="Save" />
    </div>
</form>
