<div class="m-3 absolute top-0 right-0">
    <p-button (click)="cancel()" icon="pi pi-times" [text]="true"></p-button>
</div>

<app-administrator-form
        *ngIf="contentType === entityType.Administrator"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType"
        [administrator]="data">
</app-administrator-form>

<app-appointment-form
        *ngIf="contentType === entityType.Appointment"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType"
        [appointment]="data">
</app-appointment-form>

<app-appointment-type-form
        *ngIf="contentType === entityType.AppointmentType"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType"
        [appointmentType]="data">
</app-appointment-type-form>

<app-body-measurement-form
        *ngIf="contentType === entityType.BodyMeasurement"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType"
        [bodyMeasurement]="data">
</app-body-measurement-form>

<app-cancelation-request-form
        *ngIf="contentType === entityType.CancelationRequest"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType">
</app-cancelation-request-form>

<app-client-form
        *ngIf="contentType === entityType.Client"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType"
        [client]="data">
</app-client-form>

<app-coach-form
        *ngIf="contentType === entityType.Coach"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType"
        [coach]="data">
</app-coach-form>

<app-email-form
        *ngIf="contentType === entityType.Authentication"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType">
</app-email-form>

<app-role-form
        *ngIf="contentType === entityType.Role"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType"
        [role]="data">
</app-role-form>

<app-reset-password-form
        *ngIf="contentType === entityType.ResetUserPassword"
        [redirectType]="redirectType"
        [dialogId]="dialogId">
</app-reset-password-form>

<app-user-form
        *ngIf="contentType === entityType.User"
        [type]="formType"
        [dialogId]="dialogId"
        [redirectType]="redirectType"
        [user]="data">
</app-user-form>



