:root,
:root[data-p-theme="light"],
:root[data-p-theme="dark"] {
    --p-primary-color: #0034c4 !important;
    --p-primary-contrast-color: #ffffff !important;

    --p-primary-50:  #e5ecff !important;
    --p-primary-100: #c7d4ff !important;
    --p-primary-200: #9ab3ff !important;
    --p-primary-300: #6d91ff !important;
    --p-primary-400: #4070f0 !important;
    --p-primary-500: #0034c4 !important;
    --p-primary-600: #002ea8 !important;
    --p-primary-700: #00278a !important;
    --p-primary-800: #001f6d !important;
    --p-primary-900: #00184f !important;
}
