<div class="my-3" *ngIf="canManageBodyMeasurements">
    <p-button (click)="openCreateDialog()"
              type="button" iconPos="right" icon="pi pi-plus" label="New Body Measurement" />
</div>

<p-table
    #bodyMeasurementsTable
    [value]="bodyMeasurements"
    dataKey="id"
    sortField="updatedAt"
    [sortOrder]="-1"
    [rows]="10"
    [rowHover]="true"
    [showGridlines]="true"
    [paginator]="true"
    [globalFilterFields]="['firstName', 'lastName']"
    responsiveLayout="scroll"
    showCurrentPageReport="true"
    currentPageReportTemplate="There are {totalRecords} entries"
>
    <ng-template>
        <div class="flex justify-between items-center flex-column sm:flex-row">
            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                    (click)="clear(bodyMeasurementsTable)"></button>
            <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" (input)="onGlobalFilter(bodyMeasurementsTable, $event)"
                />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th *ngIf="canManageBodyMeasurements" pSortableColumn="firstName" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Firstname
                    <p-sortIcon field="firstName" />
                    <p-columnFilter type="text" field="firstName" display="menu" class="ml-auto" />
                </div>
            </th>
            <th *ngIf="canManageBodyMeasurements" pSortableColumn="lastName" style="min-width: 12rem">
                <div class="flex justify-between items-center">
                    Lastname
                    <p-sortIcon field="lastName" />
                    <p-columnFilter type="text" field="lastName" display="menu" class="ml-auto" />
                </div>
            </th>
            <th pSortableColumn="createdAt" style="min-width: 12rem">
                Measured At
                <p-sortIcon field="createdAt" />
            </th>
            <th pSortableColumn="weight" style="min-width: 12rem">
                Weight
                <p-sortIcon field="weight" />
            </th>
            <th pSortableColumn="shoulders" style="min-width: 12rem">
                Shoulders
                <p-sortIcon field="shoulders" />
            </th>
            <th pSortableColumn="chest" style="min-width: 12rem">
                Chest
                <p-sortIcon field="chest" />
            </th>
            <th pSortableColumn="upperArm" style="min-width: 12rem">
                Upper Arm
                <p-sortIcon field="upperArm" />
            </th>
            <th pSortableColumn="waist" style="min-width: 12rem">
                Waist
                <p-sortIcon field="waist" />
            </th>
            <th pSortableColumn="thigh" style="min-width: 12rem">
                Thigh
                <p-sortIcon field="thigh" />
            </th>
            <th pSortableColumn="calves" style="min-width: 12rem">
                Calves
                <p-sortIcon field="calves" />
            </th>
            <th pSortableColumn="glutes" style="min-width: 12rem">
                Glutes
                <p-sortIcon field="glutes" />
            </th>
            <th *ngIf="canManageBodyMeasurements" style="width: 11rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-bodyMeasurement>
        <tr>
            <td *ngIf="canManageBodyMeasurements">
                {{ bodyMeasurement.firstName }}
            </td>
            <td *ngIf="canManageBodyMeasurements">
                {{ bodyMeasurement.lastName }}
            </td>
            <td>
                {{ bodyMeasurement.createdAt | date : 'dd.MM.yyyy. HH:mm:ss' }}
            </td>
            <td>{{ bodyMeasurement.weight + 'kg' }}</td>
            <td>{{ bodyMeasurement.shoulders + 'cm' }}</td>
            <td>{{ bodyMeasurement.chest + 'cm' }}</td>
            <td>{{ bodyMeasurement.upperArm + 'cm' }}</td>
            <td>{{ bodyMeasurement.waist + 'cm' }}</td>
            <td>{{ bodyMeasurement.thigh + 'cm' }}</td>
            <td>{{ bodyMeasurement.calves + 'cm' }}</td>
            <td>{{ bodyMeasurement.glutes + 'cm' }}</td>
            <td class="flex" *ngIf="canManageBodyMeasurements">
                <p-button (click)="openInfoDialog(bodyMeasurement)" class="mr-2" icon="pi pi-info-circle"
                          severity="secondary"
                          [outlined]="true" />
                <p-button (click)="confirmDelete(bodyMeasurement)" icon="pi pi-trash" severity="danger"
                          [outlined]="true" />
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="8">No Body Measurements found.</td>
        </tr>
    </ng-template>
    <ng-template #loadingbody>
        <tr>
            <td colspan="8">Loading Body Measurements data. Please wait...</td>
        </tr>
    </ng-template>
</p-table>
